
@using xuatthongtin.Models;
@{
    Layout = null;
    var empl = ViewData["empl"] as Employee;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <div>
        <h2>Employee Detail</h2>
        <p>Employee ID: <b>@empl.ID</b></p>
        <p>Employee name: <b>@empl.Name</b></p>
        <p>Employee address: <b>@empl.Address</b></p>
        <p>Employee salary: <b>@empl.Salary</b></p>
    </div>
</body>
</html>
